# Model
MODEL_PATH='backend/model/ai.eim'

# Inference
COOLDOWN_TIME=3.0
CONFIDENCE_LEVEL=0.85

# Hardware
LED_PIN=18
LED_TOTAL=200
MIC_INDEX=3

# Server
API_HOST=0.0.0.0
API_PORT=8000

# Databse
DATABASE_URL=sqlite:///./demo.db